{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-multi-spaces": [
      "error",
      {
        "exceptions": {
          "VariableDeclarator": true,
          "ImportDeclaration": true
        }
      }
    ],
    "no-console": ["off"]
  }
}
